h1{
    margin-bottom: 5%;
}

.post-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-body{
    margin-left: 20%;
    margin-top: 10%;
    margin-right: 20%;
    text-align: center;
}

.innerPost{
    text-align:left;
    margin: 0 auto;
    width: 36em;
    line-height: 2;
}
a{
    color: white;
    text-decoration: none;
}
iframe{
    width: 100%;
}